* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.container-projects {
  background: #076585;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, rgb(140, 140, 140)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 180px;
  padding-top: 20px;
  margin: auto;
}

.container-projects h2 {
  text-align: center;
  padding: 20px;
  width: 100%;
  letter-spacing: 4px;
  font-size: 75px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

.container-projects hr {
  border-top: 4px solid black;
  width: 47%;
  margin: auto;
}

.projects-grid {
  justify-content: center;
}

.container-projects-card {
  padding-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.projects-card-bg-1 {
  background-image: url("./webpage.PNG");
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 400px;
  padding-bottom: 100px;
}

.projects-card-bg-2 {
  background-image: url("./titanic.jpg");
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 400px;
  padding-bottom: 100px;
}

.projects-card-button {
  text-transform: uppercase;
}
