* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.intro-grid {
  background-image: url("./8.jpg");
  background-size: cover;
  text-align: center;
  justify-content: center;
  filter: saturate(1.5);
}

.background-img {
  margin: auto;
  width: 35%;
  border-radius: 100%;
  padding: 100px;
}

.container-intro-box {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: 160px 200px 0px 200px;
  padding-bottom: 20px;
  border-radius: 10px;
  justify-content: center;
}

.container-intro-box h1 {
  letter-spacing: 4px;
  font-size: 75px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;

}

.container-intro-box hr {
  border-top: 4px solid white;
  width: 63%;
  margin: auto;
}

.container-intro-box p {
  color: white;
  font-size: 35px;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
}


.container-intro-social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.container-intro-social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
