* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-contactme {
  background: #0f0c29;
  background: -webkit-linear-gradient( to right, #24243e, rgb(54, 7, 79), #0f0c29 );
  background: linear-gradient( to right, #24243e, rgb(54, 7, 79), #0f0c29 );
  width: 100%;
  padding: 20px;
  color: white;
  padding-bottom: 200px;
}


.container-contactme h2 {
  text-align: center;
  padding: 20px;
  width: 100%;
  letter-spacing: 4px;
  font-size: 75px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;

}



.container-contactme hr {
  border-top: 3px solid white;
  width: 47%;
  margin: auto;
  padding-bottom: 50px;
}

.contactme-grid {
  justify-content: center;
  transform: translateX(-40px);
}



a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}

#icon_style {
  color: rgb(255, 73, 180);
  padding-left: 150px;
}
